PORT=8080
APP_ENV=development

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=siakad_mini
DB_SSLMODE=disable

# JWT Secret & Expiry
JWT_SECRET=super-secret-jwt-key-siakad-uts-2026
