# Binaries for programs and tests
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
server

# Environment variables & secrets
.env
!.env.example

# Log files directory
logs/

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# lecturer modules
lecturer-modules/